@model Person

@{
    ViewData["Title"] = "Details";
}

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Info</h5>
                <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CurrentCityId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CurrentCityId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <a asp-action="Edit" asp-route-id="@Model.Id">
                    <button type="button" class="btn btn-warning">Edit</button>
                </a>
                <a asp-action="Index">
                    <button type="button" class="btn btn-primary">Back to list</button>
                </a>
            </div>
        </div>
    </div>